# OpenTofu / Terraform
**/.terraform/*
**/.opentofu/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.tofurc

# Plans
*.tfplan
*.tfplan.json
plans/

# Sensitive variables
*.tfvars
*.tfvars.json
!*.tfvars.example

# Secrets
.secrets/

# CI generated
dynamic-pipeline.yml
next-version.txt
version-type.txt
CHANGELOG-PREVIEW.md
reports/
